# =========================
# Vivado (ALL subprojects)
# =========================

build/

# Logs & temp files
*.jou
*.log
*.str
*.pb
*.wdb

# Vivado project files
*.xpr
*.dcp
*.bit
*.ltx
*.hwdef
*.sysdef

# Generated Vivado folders
**/.Xil/
**/xsim.dir/
**/*.cache/
**/*.gen/
**/*.hw/
**/*.ip_user_files/
**/*.runs/
**/*.sim/

# Explicit project folders
AXI_LITE_CTRL_PERIPH/AXI_LITE_CTRL_PERIPH_proj/
AXI_LITE_CTRL_PERIPH/SCRIPTS/*_proj/

# Simulation outputs
**/*.exe
**/*.bin
**/*.mem

# =========================
# Vitis / SDK
# =========================
.sdk/
.vitis/
.metadata/
VITIS/.metadata/
VITIS/**/Debug/
VITIS/**/Release/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db