# =========================
# Vivado (ALL subprojects)
# =========================

# Logs & temp files
*.jou
*.log
*.str
*.pb
*.wdb

# Project-generated folders (recursive)
**/.cache/
**/.hw/
**/.ip_user_files/
**/.sim/
**/.runs/
**/.gen/
**/.Xil/

# Simulation outputs
**/xsim.dir/
**/*.exe
**/*.bin
**/*.mem

*.xpr

# Optional generated outputs
*.dcp
*.bit
*.ltx

# =========================
# Vitis / SDK
# =========================
.sdk/
.vitis/
.metadata/

VITIS/.metadata/
VITIS/**/Debug/
VITIS/**/Release/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db